.signup{
    background-image:url("https://t4.ftcdn.net/jpg/06/55/50/69/360_F_655506911_1p13PsGKM93SuCePkLUcd75TW1Bzu4jg.jpg") ;
    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    background-color: #fff;
    padding: 30px;
    border: 1px sold rgb(63, 60, 60);
    border-radius: 1px;
}
.signupLogo{
    width: 200px;
    object-fit: contain;
    padding: 10px px;
}
.logoinPara{
    color: rgba(var(--f52,142,142,142),1);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0px 40px 20px 40px;
}
input{
    padding: 5px;
    margin:3px ,2px;
    outline: none;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}
.form > div {
    margin: 2px;
    
}
#submit-btn{
    background-color: #1773EA;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 8px;
}
.form2{
    background-color: #fff;
    padding: 30px;
    margin-top: 5px;
    border: 1px sold rgb(63, 60, 60);
    border-radius: 1px;

}
