.signIn{
    background-image:url("https://t4.ftcdn.net/jpg/06/55/50/69/360_F_655506911_1p13PsGKM93SuCePkLUcd75TW1Bzu4jg.jpg") ;
    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm{
    background-color: #fff;
    padding: 30px;
    border: 1px sold rgb(63, 60, 60);
    border-radius: 1px;
}
.loginform2{
    background-color: #fff;
    padding: 30px;
    margin-top: 5px;
    border: 1px sold rgb(63, 60, 60);
    border-radius: 1px;

}
.loginForm > div {
    margin: 4px;
    
}
#login-btn{
    background-color: #1773EA;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 8px;
}